Source: pulseaudio-modules-droid-modern
Section: sound
Priority: optional
Build-Depends: android-headers,
               check,
               debhelper (>= 11),
               dh-exec,
               intltool,
               pulseaudio-pulsecore-dev,
               libdbus-1-dev,
               libhardware-dev,
               libhybris-common-dev,
               libltdl-dev,
               libpulse-dev,
               libexpat1-dev,
               libevdev-dev,
               libudev-dev
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Standards-Version: 4.3.0
Homepage: https://github.com/mer-hybris/pulseaudio-modules-droid
Vcs-Git: https://github.com/droidian/pulseaudio-modules-droid-modern.git
Vcs-Browser: https://github.com/droidian/pulseaudio-modules-droid-modern

Package: pulseaudio-modules-droid-modern
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: pulseaudio-modules-droid-jb2q
Description: PulseAudio Droid HAL module
 Pulseaudio modules to interact with the Android HAL.
 .
 This package contains the actual modules, for Android 11+.

Package: pulseaudio-modules-droid-modern-dev
Architecture: any
Depends: pulseaudio-modules-droid-modern (= ${binary:Version}),
         ${misc:Depends},
Conflicts: pulseaudio-modules-droid-jb2q-dev
Description: PulseAudio Droid HAL module - development headers
 Pulseaudio modules to interact with the Android HAL.
 .
 This package contains the development headers.
